// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: .875rem !important;
$text-field-font-size: .875rem !important;
// $body-font-family: 'Libre Baskerville' !important;
// $text-field-outlined-fieldset-border: 1px solid #409eff;
$text-field-dense-label-top: 13px !important;