:root {
    /* vampire color pallete */
    --vampire: #26344a;
    --vampire-flavour1: #161d28;
    --vampire-flavour2: #161d28;
    --vampire-flavour3: #3b495c;
    --vampire-flavour4: #515e6e;
    --vampire-light: #a1b2ce;
    --light-blue-ish: #409eff;
   /* light color pallete */
  }
  .vampire-mode {
    /* concepts */
    --main-brand-color: var(--vampire);
    --secondary-brand-color: none;
    --third-brand-color: none;
    /* accents */
    --main-brand-color-flavour1: var(--vampire-flavour1);
    --main-brand-color-flavour2: var(--vampire-flavour2);
    --main-brand-color-flavour3: var(--vampire-flavour3);
    --main-brand-color-flavour4: var(--vampire-flavour4);
    /* entities */
    --action-button-background: none;
    --action-button-shadow:none;
    --action-button-text-color: none; 
    --active-action-button-background: none;
    --active-action-button-shadow:none;
    --active-action-button-text-color: none;
    /* text */
    --main-text-color: var(--light-blue-ish);
    --secondary-text-color: var(--vampire-light);
    /* border */
    --main-border-color: var(--vampire-flavour1)
  }

/* parent classes */
.theme-main-brand-color, 
.dashboard-component-title, 
.dashboard-component-ribbon,
.dashboard-component-wrapper  {
  background-color: var(--main-brand-color) !important;
}
.theme-secondary-text-color, 
.dashboard-static-text2, 
.dashboard-input {
  color: var(--secondary-text-color) !important;
  font-weight: 300 !important;
}
.theme-main-text-color,
.dashboard-component-title, 
.dashboard-component-ribbon,
.dashboard-static-text, 
.dashboard-modal,
.dashboard-button, 
.dashboard-active  {
  color: var(--main-text-color) !important;
}
.theme-box-shadow,
.dashboard-component-wrapper,
.dashboard-shadow-all-sides  {
  -webkit-box-shadow: 0px 0px 22px -6px var(--main-brand-color-flavour1);
  -moz-box-shadow: 0px 0px 22px -6px var(--main-brand-color-flavour1);
  box-shadow: 0px 0px 22px -6px var(--main-brand-color-flavour1);
}
.theme-border,
.dashboard-modal{
  border: 1px solid var(--main-border-color);
}
.theme-border-radius,
.dashboard-button, 
.dashboard-active {
  border-radius: 4px !important;
}
.theme-background-flavour1,
.dashboard-button, 
.dashboard-active,
.dashboard-modal,
.dashboard-input {
  background-color: var(--main-brand-color-flavour1) !important;
}
/* button classes */
.theme-background-flavour2,
.dashboard-button:hover, 
.dashboard-button-static:hover {
  background-color: var(--main-brand-color-flavour2) !important;
}
.dashboard-button {
  padding-left: calc(var(--fontSize) * 0.5);
  padding-right: calc(var(--fontSize) * 0.5);
  padding-top: calc(var(--fontSize) * 0.25);
  padding-bottom: calc(var(--fontSize) * 0.25);
}
/* shadow classes */
.dashboard-hover-shadow-bottom:hover {
  -webkit-box-shadow: 2px 16px 25px -3px  var(--main-brand-color-flavour1) !important;
  -moz-box-shadow: 2px 16px 25px -3px  var(--main-brand-color-flavour1) !important;
  box-shadow: 2px 16px 25px -3px  var(--main-brand-color-flavour1) !important;
  transition: 0.3s;
}
/* borders and divider classes */
.dashboard-border-bottom{
  border-bottom: 1px solid var(--main-border-color) !important;
}
.dashboard-divider-color {
  border: 1px solid var(--main-border-color) !important;
}
.dashboard-input{
  outline: none !important;
}
.login-bg {
  background: rgb(117,91,63);
  background: linear-gradient(156deg, rgba(117,91,63,1) 0%, rgba(85,102,119,1) 43%, rgba(22,29,40,1) 100%);
}
/* Objectify */
/* .objectify-keys-bg {}
.objectify-keys-text-color {}
.objectify-value-bg {}
.objectify-value-text-color {} */

